* {
   box-sizing: border-box;
 }
 
 body {
   font-family: 'PT Serif', Georgia, Palatino, 'Palatino Linotype', serif;
   font-size: 1em; /*16px*/
   line-height: 1.5;
   color: #5e5e5e;
   /* background-color: #f; */
   text-align: center;
 }

 main,body,#skills{
   background-color: #000 !important ;
 }


 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
.cont_h2,
 .h2_po {
   font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
   color: #fff !important;
   margin: 0;
 }

 a{
   color:yellow !important
 }

 
 h1 {
   padding: 1em 0 1em;
   font-size: 1.602em;
   line-height: 1.1;
 }
 
 h2 {
   font-size: 1em;
   line-height: 1.4;
   text-transform: uppercase;
   padding-bottom: 3em;
   letter-spacing: 0.01em;
   color: #2572aa;
 }
 
 h3 {
   font-size: 1.266em;
   line-height: 1.3;
 }
 
 header {
   padding-bottom: 2.5em;
 }
 
 img {
   max-width: 100%;
 }
 
 .container {
   width: 90%;
   margin: 0 auto;
 }
 
 .main-header {
   margin-bottom: 2.5em;
 }
 
 nav ul {
   background-color: #000;
   margin: 0;
   padding: 0;
 }
 
 nav ul li {
   list-style: none;
   /* background-color: #fefefe; */
   margin-bottom: 0.3em;
 }
 
 nav ul li a {
   display: block;
   font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   color: #4a4a4a;
   text-decoration: none;
   padding: 0.5em;
   transition: all 0.2s;
 }
 
 nav ul li a:hover {
   background-color: #4a4a4a;
   color: #fafafa;
 }
 
 .banner {
   width: 88%;
   margin: 0 auto;
 }
 
 /* .profile-pic {
   margin: 0;
 } */
 
 main {
   background-color: #fafafa;
   padding-bottom: 1.5em;
 }
 
 #portfolio,
 #skills {
   padding:3rem 2rem
 }
 
 .project {
   margin-bottom: 1.5em;
 }
 
 .project img {
   margin-bottom: 1.5em;
 }
 
 .project p {
   margin-top: 0.5em;
   margin-bottom: 2.3em;
   /* padding: 0 2em; */
 }
 
 .wrapper {
   width: 100%;
   background-color: #fff;
   padding-bottom: 4em;
 }
 
 .skills {
   margin: 0 1.5625em;
   padding: 0;
 }
 
 .skills li {
   list-style-type: none;
   display: inline-block;
   text-align: center;
   border: 1px solid #444;
   background-color: #333;
   box-shadow: 3px 2px 3px #cdcdcd;
   color: #fff;
   text-shadow: 0 -1px 0 #565656;
   padding: 1em;
   width: 80%;
   font-size: 1.266em;
   margin-bottom: 0.3em;
 }
 
 .skills li:hover {
   opacity: 0.9;
 }
 
 .skills i {
   padding-right: 0.5em;
 }
 
 footer {
   margin-top: 4em;
 }
 
 #contact h2 {
   padding-bottom: 1em;
 }
 
 address {
   font-style: normal;
   padding-bottom: 4em;
 }
 
 address span {
   font-weight: 700;
   padding-left: 0.5em;
 }
 
 address span a {
   text-decoration: none;
   color: inherit;
 }
 
 address span a:hover {
   border-bottom: 2px solid #626f7e;
   color: #626f7e;
 }
 
 .credit {
   border-top: 1px solid #dcdcdc;
   width: 95%;
   margin: 0 auto;
   padding: 1em 1em;
   font-size: 0.889em;
   font-weight: 700;
   font-family: 'PT Sans', Tahoma, Verdana, 'Trebuchet MS', sans-serif;
   min-height: 10vh;
 }
 
 .credit p {
 
   color: #9b9c9c;
 }

 .intro{
   padding-top: 15px !important;
 }
 
 .credit p + p {
  
   text-transform: uppercase;
 }

 img{
   max-width: 85% !important;
 }
 .img-1{
   position: relative;
   right:10px;
   max-width: 109% !important;
 }
 .img-2{
   position: relative;
   right:10px;
   max-width: 109% !important;
 }
 
 .credit p a {
   text-decoration: none;
   color: inherit;
   padding: 0.5em;
   transition: all 0.2s;
 }
 
 .credit p a:hover {
   background-color: #5e5e5e;
   color: #fafafa;
 }
 
 .footer-nav {
   display: none;
 }
 
 /* .clearfix {
   display: flex;
   flex-direction: row-reverse;
 } */
 
 /*************
 MEDIA QUERIES
 *************/
 
 /*** TABLET STYLES ***/
 @media (min-width: 768px) and (max-width: 1023px){
   nav ul {
     display: inline-block;
     margin: 0 auto;
   }
   .p_p{
      position: relative;
      left: 14px;
      margin: 10px;
   }

   .photo{
      position: relative;
      left: 10px;
   }

   #contact h2 {
      padding-bottom: 2em;
  }

  #portfolio, #skills {
   padding: 3rem 3.5em;
}
  
   .mark{
      position: relative;
      right:13px
   }
   .mark_p{
      position: relative;
      right:10px
   }

   .search{
      position: relative;
      left:90px
   }
   .search_p{
      position: relative;
      left:95px
   }

   .clearfix {
      display: flex;
      flex-direction: row-reverse;
    }

  

    .cc{
      display: block !important;
    }

   .map_of{
      position: relative;
      left:15px
   }
   .map_of_s{
      position: relative;
      left:15px
   }

   .cal{
      position: relative;

   }

   main{
      margin-top: 30px;
   }

   .portfolio{
     
      position: relative;
      bottom: 30px;
      padding-bottom: 50px;
      right:240px;
      margin-top: 20px;
      color:#000;
      font-weight: 600;
      /* text-align: center; */
   }

   .intro{
      position: relative;
      right:15px;
      text-align: left;
   }
 
 
   nav ul  {
      justify-content: center;
     display: flex;
     background-color: transparent;
   }
 
   nav ul li a {
     display: inline-block;
     padding: 1em 1.5em;
   }
 
   .profile-pic {
     width: 33%;
   }
 
   .banner {
     width: 100%;
   }
   main {
     padding: 0 2rem;
   }
 
   
   .img-1 {
     max-width:140% !important;
     margin-top: 50px;
     padding: 10px;
     position: relative;
     bottom: 3px;
     right: 65px ;
   }
   .img-2 {
     max-width:135% !important;
margin:auto;
     margin-top: 50px;
top:6px;
 left:60px;
 position:relative;
     /* margin-right: 30px; */
   }

   .img-3{
      max-width: 90%;
      position: relative;
      left: 12px;
   }

   .mark_p{
      
   }
   .img-4 {
     max-width: 88.9%;
 margin-top: -1px;
     margin-right: 12px;
   }
   .img-5 {
      max-width: 108%;
      position: relative;
      max-width: 88.5%;
      margin-top: 1.3px;
      left: 19px;
   }
   .img-6 {
      max-width: 88%;

     margin-right: 9px;
   }
   .flex768 {
     width: 100%;
 
     /* background-color: red; */
     display: flex;
   }
 
   main img {
     /* display: flex; */
   }
 
   .project {
     /* display: flex; */
     /* width: 50%; */
     /* padding: 1em; */
     margin-bottom: 0.5em;
   }
 
   .project p {
      /* margin-bottom: 20px; */
     /* keep height of this element consistent */
     height:   6.75em;
     max-width: 100%;
   }
 
   .skills {
     display: flex;
     justify-content: space-around;
     max-width: 100%;
   }
 
   .get-in-touch {
     font-size: 1.266em;
     max-width: 75%;
     margin: 0 auto;
   }
 
   .credit p a {
     display: none;
   }
 
   footer {
     padding-bottom: 2em;
     width: 100%;
   }
 
   .footer-nav {
     display: block;
     text-align: right;
   }
 
   .footer-nav ul li a {
     color: #9b9c9c;
   }
 
   .footer-nav ul li a:hover {
     background-color: #9b9c9c;
     color: #fafafa;
   }
 }
 
 /*** DESKTOP STYLES ***/
 @media (min-width: 1024px) {
   ul{
      display: flex;
      background-color: #000;
   }



  

   .travel{
      position: relative;
      left:660px;
      bottom: 800px;
   }
   .travel_p{
      position: relative;
      left:660px;
      bottom: 800px;
   }

   h3.search{
      position: relative;
      left: 285px;
      bottom: 375px;
   }
   .search_p{
      position: relative;
      left: 288px;
      bottom: 375px;
   }

   .img-1{
      position: relative;
      right:45px;
      
   }
   .img-5{
      position: relative;
      bottom: 1167px;
      left: 335px;
      max-width: 93% !important ;  

      
   }
   .p_p{
      position: relative;
      bottom: 1170px;
      left: 320px;
      margin:1.2rem
   }
   .img-6{
      position:relative;
      bottom: 1550px;
      left:655px;
      max-width: 95% !important ;  
   }

   #skills{
position: relative;
bottom:1600px

   }

   h3.cal{
      position:relative;
      bottom: 1555px !important;
      left:650px  
   }
.lator{
      position:relative;
      bottom: 1555px !important;
      left:655px  
   }
   h3.photo{
      position:relative;
      bottom: 1177px;
      left:320px
   }
   h3.map_of{
      position:relative;
      bottom: 807px;
      left:35px
   }
   .map_of_s{
      position:relative;
      bottom: 807px;
      left:25px
   }
   .img-4{
      position: relative;
      bottom:790px;
      left:25px;
      max-width: 91% !important ;  

      
   }

   .mark{
      position: relative;
      right:20px
   }
   .mark_p{
      position: relative;
      right:20px
   }
 
   .img-3{
      position: relative;
      left: 645px;
      bottom: 795px;
      max-width: 91% !important;
   }

   
  

   #contact{
      position: relative;
      bottom: 1600px;
      display:flex !important;
      flex-direction: column !important;
      justify-content: center !important;
   }

   .flex1024{
      display: flex;
      position: absolute;
   }

   .flex-items{
      display: flex;
   }

   .logo{
      position: absolute;
      left:100px
   }

   ul{
      justify-content: flex-end;
   }

   .img-2{
      position: relative;
      left:265px;
      bottom: 373px;
   }

   .clearfix{
      /* display: flex; */
      justify-content: center;
      flex-direction: row-reverse;
   }

   .banner{
      display:flex;
      justify-content: space-between;
   }
   
   .main-header {
     margin-top: 2.5em;
     margin-bottom: 5em;
     min-height: 3.125rem;
   }
 
   .logo {
     
     padding: 1rem 0;
   }
 
   .main-nav {
   
     margin-right: 24px;
   }
 
   .intro {
      text-align: left  !important;
     font-size: 1.424em;
     position: absolute;
     width: 50%;
     left:20px;
     padding-left:30px ;
     margin: 15px;
     bottom:460px;
     /* bottom:10px; */
     /* width: 60%;
     left:10px;
     margin: 10px;
     padding-right: 6rem;
     padding-left: 0; */
   }

   h2.portfolio{
      text-align: center;
     
   }
 
   .profile-pic {
     width:45%;
   position: relative;
   left: 50px;
   bottom: 30px;
     /* object-fit: contain; */
     /* padding-right: 24px; */
   }
 
   .project {
     width: 33%;
     padding: 0.5em;
   }
 
   .get-in-touch {
     width: 50%;
     margin:15px auto
   }
 
   footer {
     padding-bottom: 0;
     /* position: fixed; */
bottom: 0;
width: 100%;
height: 200px;
   }

  

   

   .credit p {
      display:flex;
      justify-content: flex-start;
      position:relative;

      color: rgb(155 156 156);
  }

   .footer-nav{
      justify-content: flex-end;
      display: flex;
   }

   .top_btn{
      display: none;
   }






   body {
      /* position: relative !important; */
    }
    .talldiv::after {
      height: calc(10vh - 200px);
      width: 100%;
      content: '';
      background-color: white;
      position: absolute;
      top: 6200px;
      left: 0px;
      z-index: 99999;
    }
    #sensor {
      position: absolute;
      width: 1px;
      height: 1px;
      left: 50%;
      top: 6199px;
    }
    .talldiv {
      width: 100vw;
      height: 8000px;
    }




    .intro{color:#fff !important}
   
 }
 