*{
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}

body{
   padding:5%;
   background-color: #000;

}

.profile_img{
   height:160px;
   margin:auto;
   display:block;
}

h1,h2,p,.bio>p{
   color:#fff !important
}


a{
   color:#4d4dcd !important
}


.home_take,
.port_take,
.cntct_take
{
  display: none;


}


a{
  text-decoration: none;
  color:rgb(89,88,88)
}
a:hover{
   color:orange;
   text-decoration: underline;
}
img{
   max-width: 100%;

}
ul{
   padding-left:0;
   list-style: none;
}

.title{
   font-size: 35px;
}

.bio, .container p{
   font-weight: 300;
   color:rgb(89,88,88)
}


.bio, .container h2,
.bio, .container h3{
   font-weight: 500;
}

li{

   margin-bottom:5px;
   padding:20px;

}

li a{
   text-transform: uppercase;
   font-weight: 800;
   color:rgb(57, 57, 57)
}


#container-portfolio{
   font-weight: 700;
   padding: 10%;
}

.contact-container h2{
   font-weight: 600;
   padding:15%;
}



.contact-container .phone a,
.contact-container .email a{
   font-weight: 700;
   color:rgb(89,88,88)
}
/* .contact-container .phone a:visited,
.contact-container .email a:visited{
   color:rgb(89,88,88)
} */
#contact_padding{
   padding:10px
}


footer{
   border-top: 1px solid rgb(215, 215, 215);
   margin-top: 100px;
   display:flex;
   justify-content: space-between;
   /* min-height:10vh; */
   /* align-items: flex-end; */
}

.calander{
   padding: 10px;
   margin-bottom: 25%;
}




.name{
/* padding: 20px 0; */
   margin:20px 0;
}

.top,
.name{
   font-weight: 700;
}

.top{
   margin:22px 0
}

.project{

   /* padding-bottom: 25px; */
}


@media (min-width:768px)
and (max-width:1023px){

img{
   transition-duration:.5s ;
}
   img:hover{
      transform:scale(1.07)
   }
   .title{
      margin-top: 35px;
   }

   /* .f768{
      display:flex
   }
      .wrapper{
         display: flex;
      } */
  .project{
   float:left;
   width:45%
  }

  .move_5{
   margin-left: 20px;
  }



   ul{
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
   }
   *{
      margin:0;
      padding: 0;
   }





   body{

      margin: auto;
   }

   .flexbox_for_ipad{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
   }


   .bio{
      margin:10px;
      padding:0 5px;
      text-align: left;

   }

 .flex768{
   display: flex;
 }

 .mark{
   margin-left: 30px;
 }



 .move_5{
   margin-left: 45px;
 }



 .project h3{
  font-weight: 500;
 }

 .T{
   margin-left: 60px;
   position: relative;
   top:15px
 }

 .min1024pp3{
  position: relative !important;
  left:32px !important
 }

 .Map_of{
   margin-left: 73.9px;
   position: relative; 
   top:15px


 }



.spots{
   margin: auto 45.6px;
}
/* 
.move_6{
   margin-right: 200px;
} */


 /* contact */
 footer{
   justify-content: center;
   min-height: 13vh;
 }

 .contact-container{

   padding:5%;
   margin: -30px
 }

.ipad_cont{
   align-self: flex-start;

}



.p1{

   position: relative;
   left:32.2px
}
.p2{

   position: relative;
   left:43px
}
.p4{

   position: relative;
   left:40px
}

.p5{
   position: relative !important;
   left:30px !important
}

.mr{
   margin-left: 30px;
}

.P{
   margin-left: 55px;
   position: relative;
   top:15px
}

.CA{
   margin-left: 85px;
   position: relative;
   top:15px 
}

.p6{
   position: relative !important;
   left:35px !important
}


.tr{
   position: relative;
   right:14px
}
/* .p1{
  
   position: relative;
   left:18px
}
.p1{
  
   position: relative;
   left:18px
}
.p1{
  
   position: relative;
   left:18px
}
.p1{
  
   position: relative;
   left:18px
} */

.project p{
   padding:10% ;

   margin:auto auto 20px;
   font-weight: 300;
}

.M{
   margin-left: 65px;
position: relative;
top:20px
}

.S{
   margin-left: 80px;
   position: relative;
top:21px
}

 .top{
   display:none
 }

 .name{
/* align-self: flex-start; */
float:left;
font-weight: 800 !important;
margin: 17px auto;
position: relative;
left:-100px;
 }



 #contact_padding {
   padding: 10%;
}



.mq_ipad{
   line-height: 1.9rem !important;
   margin-bottom: 30px;

}

.phone{
   margin-bottom: 20px;
}

 .home_take,
 .port_take,
 .cntct_take
 {
   font-weight: 800;
   text-transform: uppercase;
   margin: 20px;
display: block;

 }




}



@media (min-width:1024px){


ul,nav{
   display: flex;
}

.title {
   font-size: 30px;
}

.p1{
   margin-left: 15px;
}
.p2{
   margin-left: 15px;
}


.project h3{
   font-weight: 400;

}
.project p{
   font-weight: 300;
   padding:30px;
   position: relative;
   bottom: 12.5px;
}

.M{
   margin-left: 12px;
   position: relative;
   top:10px
}
.S{
   margin-left: 22px;
   position: relative;
   top:10px
}
.T{
   margin-left: 52px;
   position: relative;
   top:12px
}

.move_5{
   margin: -1px 15px;
}

.SI{
   max-width: 99%;
}

.mr-2{
   max-width: 95.3%;
   margin-top: .1px !important;
}

.tr{
   max-width: 96%;
   margin-top: -1px !important;
}

.min1024pp3{
  position: relative;
  left:25.5px
}
.mr{
   margin-left: 30px;
}
.move_6{
   margin: -3px 30px;
}
.GG{

   margin: -1.5px 44px;}

.f1024{
   display: flex;
}

.bkgrd{
   display: flex;
   justify-content: space-between;
}
.wr1024{
   display: flex;
}

.flexbox_for_ipad{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}

.Map_of{
   margin-left: 20px;
   position: relative;
   top:10px
}

.P{
   margin-left: 70px;
   position: relative;
   top:10px
}

.p4{
   margin-left: 20px;
}
.p5{
  position: relative;
  left:30px
}

h3.CA{
   margin-left: 80px;
   position: relative;
   top:10px
}

.p6{
   position: relative;
   left:38px 
}

.profile_img {
   height: 300px;
}




.bio {
  padding: 5px;
   text-align: left;
}








} 